{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Know your weather</title>
</head>

<body>

    {% for message in messages %}
    <div class="alert alert-{{message.tags }} alert-dismissible fade show" role ="alert">
        <strog>
            Message:
        </strog> {{ message }}
        <button type ="button" class="close" data-dismiss="alert" aria-label="close">
        <span  aria-hidden="true"> &times;</span>
        </button>
    </div>
    {%endfor %}

        <div class="col bg-success">
                <nav style="position: fixed;">
                    <h1 style="color: white;font-size:xx-large;text-align:center;">
                       KNOW YOUR WEATHER
                    </h1>
         
                </nav>
            </div>

<form method="post" class="form-container" style="position:sticky;float:right;">
    {% csrf_token %}
    <input type="text" name="city1" placeholder="city1" required>
    <input type="text" name="city2" placeholder="city2">
    <button type="submit"> Check Weather</button>
    
</form>


        <div class="comparison-container">
            {% if weather_data1 %}
            <div class="city-container" >
                {% include 'city_weather.html' with weather_data=weather_data1  daily_forecast=daily_forecast1 %}
            </div>
            {% endif %}


            {% if weather_data2 %}
            <div class="city-container">
                {% include 'city_weather.html' with weather_data=weather_data2  daily_forecast=daily_forecast2 %}
            </div>
            {% endif %}
            
        </div>

<script src="script.js"></script>
</body>

</html>